body {
    font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url("https://e.snmc.io/i/600/s/c72ca18a068e5e3d7b969f005d42d389/7994624");
  background-repeat: repeat-y;
  background-size: 100%;
}

.titulo{
    color: yellow;
}

p 
{
    background-color: bisque;
}

#equipo
{
    color: darksalmon;
    background-color: aqua;
}

.estilito
{
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: cadetblue;
}

#parrafito
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: crimson;
}
